.news {
    background-image: url(../../pic/bg2.webp);
    background-size: 20%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.news .inner {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inner .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner h1 {
    font-family: "Noto Serif";
    text-decoration: underline #545454 1px;
    text-underline-offset: 15px;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    color: #545454;
    margin: 20px;
}

@media screen and (min-width:768px) {
    .inner {
        margin: 130px auto 0px;
    }

    .inner h1 {
        font-size: 36px;
        margin: 10px auto 20px;
    }

    .inner .title {
        margin: 0 0 60px 0;
    }

    .card {
        width: 83.33333%;
    }

    .card .pic {
        width: 76.25%;
    }

    .decorate .bg_line {
        pointer-events: none;
        position: absolute;
        bottom: -150px;
        left: 0;
    }

    .decorate .bg_seal {
        position: absolute;
        bottom: 40px;
        right: 120px;
        width: 120px;
    }

    .card .txt {
        width: 58%;
        font-size: 18px;
    }

    .back {
        margin: 90px auto;
    }
}

@media screen and (max-width:767px) {
    .inner {
        margin: 100px auto 0px;
    }

    .inner h1 {
        font-size: 24px;
        margin: 0 auto 20px;
    }

    .inner h2 {
        font-size: 18px;
    }

    .inner .title {
        margin: 0 0 60px 0;
    }

    .card {
        width: 95%;
    }

    .card .pic {
        width: 85%;
    }

    .decorate {
        display: none;
    }

    .card .txt {
        width: 85%;
        line-height: 1.5;
        font-size: 16px;
    }

    .back {
        margin: 60px auto;
    }
}

.card {
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .pic {
    margin: 0 auto 8%;
    position: relative;
    overflow: hidden;
}

.card .pic img {
    width: 100%;
    vertical-align: top;
    border-radius: 4px;
    transform: scale(1);
    transition: 5s;
}

.card .pic img:hover {
    transition: 5s;
    transform: scale(1.1);

}



.card .txt {
    color: #545454;
    font-family: "Noto Serif";
    
    font-style: normal;
    font-weight: 350;
}

.back a {
    color: #CF272A;
    text-decoration: none;
    transition: .3s;
}

.back:hover>a {
    color: white;
}

.back {
    border: #CF272A solid 1px;
    background-color: #0000;
    width: 180px;
    height: 45px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    display: block;
    transition: .3s;
}



.back:hover {
    border: white solid 1px;
    background-color: #CF272A;
}