.contact {
    background-image: url(../pic/bg2.webp);
    background-size: 20%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.contact .inner {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 130px auto 0px;
    align-content: center;
}

.contact .inner h2 {
    font-family: "Noto Serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    color: #545454;
    margin: 0 auto 90px;
    position: relative;
    padding: 0 5px 10px ;
    text-align: center;
    width: 180px;
    text-indent: 4px;
}

.contact .inner h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #545454;
}


.card {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.card .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 180px;
}



.card .item .pic {
    width: 40%;
}

.card .item .pic .store {
    width: 100%;
    vertical-align: top;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

}

.card .item .txt {
    width: 35%;
    font-family: "Noto Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .item .socialmedia {
    padding: 20px 20px 20px 0;
}

.socialmedia .icon {
    padding: 0 15px 0 0;
}

iframe {
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.map {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.bg_map {
    width: 900px;
    height: 350px;
    background-color: #c8c8c8;
    bottom:320px;
    left: -40px;
    position: relative;
    z-index: 0;
    border-radius: 4px;
}

.decorate .bg_line {
    position: absolute;
    bottom: -50px;
    left: 0;
}

.decorate .bg_seal {
    position: absolute;
    bottom: 40px;
    right: 120px;
    width: 120px;
}