.customize {
    background-image: url(../pic/bg2.webp);
    background-size: 20%;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.inner {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inner h1 {
    font-style: normal;
    font-weight: 900;
    color: #545454;
    position: relative;
    padding: 0 5px 10px;
    text-align: center;
}

.inner h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #545454;
}

@media screen and (min-width:768px) {
    .inner {
        margin: 130px auto 100px;
    }

    .inner h1 {
        font-size: 36px;
        width: 180px;
        margin: 0 auto 90px;
    }

    .decorate .bg_line {
        position: absolute;
        bottom: -150px;
        left: 0;
    }

    .decorate .bg_seal {
        position: absolute;
        bottom: 40px;
        right: 120px;
        width: 120px;
    }

    .form_lnf dt {
        width: 25%;
        margin: 0 20px;
    }

    .form_lnf input {
        width: 180%;
        margin: 20px;
    }

    .form_lnf .choose {
        margin: 0 auto;
    }

    .form_lnf textarea {
        margin: 20px;
        width: 100%;
    }

    .form_lnf textarea,
    #feedback {
        vertical-align: top;
        display: inline-block;
        margin: 0 20px;
    }
}

@media screen and (max-width:860px) {
    .inner {
        margin: 100px auto 0px;
    }

    .inner h1 {
        font-size: 24px;
        width: 120px;
        margin: 0 auto 50px;
    }

    .decorate {
        display: none;
    }

    .form_lnf {
        flex-direction: column;
    }

    .form_lnf dt {
        margin: 10px;
        width: 90%
    }

    .form_lnf input {
        width: 90%;
        margin: 10px;
    }

    .form_lnf textarea {
        margin: 10px;
        width: 90%;
    }

    dd {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


form.customize {
    color: #545454;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    width: 75%;
    margin: 0 auto;
    border-radius: 4px;
}

form.customize dl.form_lnf:nth-child(odd) {
    background-color: lightgray;
}

form.customize dl.form_lnf:nth-child(even) {
    background-color: white;
}

.form_lnf {
    padding: 10px 15px;
    display: flex;
}

.form_lnf dt {
    display: flex;
    text-align: center;
    align-items: center;
}

.form_lnf .choose {
    border: #CF272A 1px solid;
    padding: 5px 10px;
    margin: 0 20px;
    color: #CF272A;
    text-align: center;
}

.form_lnf input {
    border: #c5c5c5 1px solid;
    height: 35px;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
}

.form_lnf textarea {
    border: #c5c5c5 1px solid;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    font: 14px "Noto Serif";
}

.form_lnf input[type="radio"] {
    width: 20px;
    margin: 20px 0px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    border: #c5c5c5 1px solid;
}

.typecheck {
    margin: 0 20px;
}

.round.button {
    align-items: center;
}

.form_submit_button {
    color: #CF272A;
    border: #CF272A solid 1px;
    background-color: #0000;
    width: 150px;
    height: 45px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    margin: 90px auto;
    display: block;
    transition: .3s;
}

.form_submit_button:hover {
    border: white solid 1px;
    background-color: #CF272A;
    color: white;
}