.products {
    background-image: url(/pic/bg2.webp);
    background-size: 20%;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.products .main_products {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /* border: #CF272A 1px solid; */
    margin: 130px auto 90px;
}

.products .main_products .pic {
    width: 58.33333%;
}

.products .main_products img {
    width: 100%;
    vertical-align: top;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.products .main_products .txt {
    width: 33.333333%;
    display: flex;
    flex-direction: column;
    /* border: #CF272A 1px solid; */
    margin: 0px auto;
    line-height: 1.5;
    justify-content: space-around;
}

.products .main_products h2 {
    font-family: "Noto Serif JP";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 4px;
}

.products .main_products h3 {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4px;
    /* text-align: center; */
    padding-bottom: 20px;
}

.products .main_products h3::before,
.products .main_products h3::after {
    content: '—';
}


.products .main_products .money {
    font-family: "Noto Serif JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* padding-top: 20px; */
    display: flex;
    align-items: center;
}

.products .main_products .money span {
    padding-left: 10px;
    font-size: 20px;
}

.products select {
    background: #4b4b4b;
    color: #fafafa;
    margin: 5px;
    width: 150px;
    height: 3em;
    padding: 8px;
    position: relative;
    border-radius: 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#4b4b4b, #4b4b4b);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(#4b4b4b, #4b4b4b);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient(#4b4b4b, #4b4b4b);
    background-position: right 0.5em top 50%, 0 0;
    background-size: contain, cover;
    background-repeat: no-repeat, repeat;
}

.products .favorite {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
}

.products .favorite button {
    border: 0;
    outline-style: none;
    background-color: #0000;
    width: 20px;
    height: 20px;
    /* margin: 10px 5px; */
}

.products .favorite p {
    display: flex;
    margin: 0 10px
}

.products .shop_button .input {
    color: #CF272A;
    border: #CF272A solid 1px;
    background-color: #0000;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 45px;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    margin: 0px 10px 10px 0;
    transition: .3s;
}

.products .shop_button .input:hover{
    background-color: red;
    color: #fafafa;
}

.products .shop_button .now {
    color: #ffffff;
    border: #CF272A solid 1px;
    background-color: #CF272A;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 45px;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    margin: 0px 10px 10px 0;
    transition: .3s;
}

.products .shop_button .now:hover{
    background-color: red;
}

.products .other_products {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /* border: #CF272A 1px solid; */
    margin: 90px auto;
    box-sizing: border-box;
    justify-content: space-between;

}

.products .other_products .item {
    width: 33%;
    box-sizing: border-box;
    padding: 0 10px;
}

.products .other_products .item .pic {
    box-sizing: border-box;
}

.products .other_products .item img {
    width: 100%;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.products .other_products .item h3 {
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 20PX 0;
}

.products .other_products .item .money {
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.products .back {
    border: #CF272A solid 1px;
    background-color: #0000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 45px;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    margin: 0 auto 150px;
    transition: .3s;
}

.products .back a{
    color: #CF272A;
    text-decoration: none;
}

.back:hover>a {
    color: white;
}

.products button:hover {
    border: white solid 1px;
    background-color: #CF272A;
}


.products .breadcrumb {
    z-index:  1;
    display: flex;
    position: absolute;
    align-items: center;
    top: 40px;
    left: 18%;
    /* border: #CF272A 1px solid; */
}

.products .custom-separator li {
    padding: 0 20px;
}

.products .custom-separator a {
    text-decoration: none;
    color: #585858;
    font-family: "Noto Serif JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 4px;
}

.products .custom-separator a:hover {
    color: #CF272A;
}

/* 以上是breadcrumb麵包屑 */
.products .decorate .bg_line {
    pointer-events: none;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 1;
}

.products .decorate .bg_seal {
    position: absolute;
    bottom: 40px;
    right: 120px;
    width: 120px;
    z-index: 1;
}