.products {
    background-image: url(../pic/bg2.webp);
    background-size: 20%;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.products .main_products {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.main_products .pic{
    cursor: pointer;
}

.products .main_products .big-pic{
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    border: #dcdcdc 1px solid;
}

.products .main_products .small-pic {
    display: flex;
    width: 100%;
}

.products .main_products .small-pic img{
    margin: 10px 5px 0 0;
    width: 10%;
    border: #dcdcdc 1px solid;
    border-radius: 4px;
}

.products .main_products #large {
    width: 100%;
    vertical-align: top;
    transform: scale(1);
    transition: 5s;
}

.products .main_products #large:hover {
    transform: scale(1.05);
    transition: 5s;
}

.products .main_products .txt {
    flex-direction: column;
    margin: 0px auto;
    line-height: 1.5;
    justify-content: space-evenly;
    display: flex;
}

.products .main_products h1 {
    font-weight: 600;
}

.products .main_products h2 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.products .main_products h2::before,
.products .main_products h2::after {
    content: '—';
}

.products .main_products .money {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.products .main_products .money span {
    padding-left: 10px;

}

.products select {
    background: #545454;
    color: #fafafa;
    width: 150px;
    height: 3em;
    padding: 8px;
    position: relative;
    border-radius: 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#545454, #545454);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(#545454, #545454);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient(#545454, #545454);
    background-position: right 0.5em top 50%, 0 0;
    background-size: contain, cover;
    background-repeat: no-repeat, repeat;
}

.products .favorite {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
}

.products .favorite button {
    border: 0;
    outline-style: none;
    background-color: #0000;
    width: 20px;
    height: 20px;
}

.products .favorite p {
    display: flex;
    margin: 0 10px
}

.products .shop_button a{
    text-decoration: none;
}

.products .shop_button .input a{
    color: #CF272A;
}

.products .shop_button .now a{
    color: #ffffff;
}

.products .shop_button .input {
    
    border: #CF272A solid 1px;
    background-color: #0000;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 45px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    transition: .3s;
}

.products .shop_button .input:hover {
    background-color: red;
}

.products .shop_button .input:hover>a {
    color: #ffffff;
}

.products .shop_button .now {
    border: #CF272A solid 1px;
    background-color: #CF272A;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 45px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 400px;
    transition: .3s;
}

.products .shop_button .now:hover {
    background-color: red;
}

@media screen and (min-width:768px) {
    .products .main_products .pic {
        width: 50%;
    }

    .products .main_products h1 {
        font-size: 30px;
    }

    .products select {
        margin: 5px;
    }

    .products .main_products{
    margin: 130px auto 130px;    
}

    .products .other_products {
        justify-content: space-evenly;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        margin: 90px auto;
        box-sizing: border-box;
    }
    
    .products .other_products .item {
        box-sizing: border-box;
        width: 25%;
        padding: 0 10px;
    }
    
    .products .other_products .item .pic {
        box-sizing: border-box;
        overflow: hidden;
        border: #dcdcdc 1px solid;
        border-radius: 4px;
    }
    
    .products .other_products .item img {
        width: 100%;
        transform: scale(1);
        transition: 5s;
        vertical-align: top;
    }
    
    .products .other_products .item img:hover {
        transition: 5s;
        transform: scale(1.1);
    }
    
    .products .other_products .item h3 {
        font-weight: 600;
        font-size: 18px;
        padding: 20px 0;
    }
    
    .products .other_products .item .money {
        font-weight: 400;
        font-size: 18px;
    }

    .products .back {
        margin: 0 auto 150px;
    }

    .products .main_products .money span {
        font-size: 20px;
    }
    .products .shop_button .input,
    .products .shop_button .now {
        margin: 10px 10px 5px 0;
    }

    #sliderBoard {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .products .main_products .pic {
        width: 80%;
    }

    .products .main_products {
        justify-content: center;
        margin: 130px auto 50px; 
    }

    .products .main_products .txt {
        width: 80%;
        align-items: flex-start;
    }

    .products .main_products h1 {
        font-size: 24px;
        margin: 20px 0 10px;
    }

    .introduction {
        margin: 25px 0;
    }

    .products select {
        margin: 0 0 15px;
    }

    .products .main_products .money span {
        margin: 15px 0;
    }

    .products .shop_button .input {
        margin: 0px 15px 20px 0;
    }

    .products .other_products{
        display: none;
    }

    .products .main_products .money span {
        font-size: 18px;
    }

    .products .back {
        margin: 0 auto 90px;
    }

    .products .shop_button .input,
    .products .shop_button .now {
        margin: 0px 5px 20px 0;
    }

    /* 以下是輪播區 */
    #sliderBoard {
        width: 60%;
        height: auto;
        margin: 100px auto;
        overflow: hidden;
        position: relative;

    }

    .slider-pic {
        border-radius: 4px;
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    #content {
        display: flex;
        transition: transform 0.3s;
    }

    #content li {
        float: left;
    }

    #contentButton {
        text-align: center;
        height: 50px;
    }

    #contentButton li {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ccc;
        display: inline-block;
        margin: 20px 6px;
        align-items: center;
    }

    #contentButton li.clicked {
        background-color: #666;
    }
}

.products .back {
    border: #CF272A solid 1px;
    background-color: #0000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 400px;
    transition: .3s;
}

.products .back a {
    color: #CF272A;
    text-decoration: none;
}

.back:hover>a {
    color: white;
}

.products .back:hover {
    border: white solid 1px;
    background-color: #CF272A;
}
