* {
    padding: 0;
    margin: 0;
    list-style: none;

}

body {
    font-family: "Noto Serif", Helvetica, Arial, sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    color: #545454;
}

h1,
h2,
h3,
.custom-separator a,
p {
    font-family: "Noto Serif", Helvetica, Arial, sans-serif, serif;
    font-style: normal;
    letter-spacing: 1px;
    text-indent: 1px;
}

h1,
h2,
h3,
.custom-separator a {
    font-weight: 900;
    color: #545454;
}

header {
    z-index: 3;
    width: 100%;
    background-image: url(../pic/bg1.webp);
    background-size: 10%;
    margin: auto;
}

header .top {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: auto;
}

header .logo {
    box-sizing: border-box;
    width: 86px;
    padding: 10px;
}

header .logo img {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

header nav a {
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-indent: 4px;
}

@media screen and (min-width:900px) {
    .header-bg {
        width: 100%;
        height: 90px;
        background-image: url(../pic/bg2.webp);
        background-size: 20%;
    }

    header {
        position: fixed;
    }

    #phone-login,
    #phone-shoppingcart {
        display: none;
    }

    .hb {
        display: none;
    }

    header .nav-area {
        display: flex;
        align-items: center;
        text-align: center;
    }

    header nav {
        font-size: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    header nav a {
        color: #333;
        padding: 0 20px;
        margin: 0 5px;
        position: relative;
    }

    header nav a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #CF272A;
        transform: scaleX(0);
        transition: .2s;
    }

    header nav a:hover:after {
        transform: scaleX(1);
    }

    header nav .main-menu {
        display: flex;
    }

    header nav .main-menu>li {
        padding: 4px;
        position: relative;
    }

    header nav .main-menu>li>a {
        display: block;
        padding: 0 20px 10px 20px;
        text-decoration: none;
        margin: auto;
    }

    header nav .sub-menu {
        display: none;
        position: absolute;
        padding-top: 10px;

    }

    header nav .sub-menu a {
        display: block;
        padding: 15px 15px;
        background-image: url(../pic/bg1.webp);
        background-size: 50%;
        color: #545454;
    }

    header nav li:hover .sub-menu {
        display: block;
    }

    header nav li:hover .sub-menu>a {
        color: #CF272A;
    }

    header .icon {
        color: #333;
        display: flex;
        align-items: center;
        margin-left: auto;
        overflow: hidden;
    }

    header .icon .user img,
    header .icon .shopcart img {
        width: 80%;
    }

    header .icon .user img:hover,
    header .icon .shopcart img:hover {
        width: 85%;
        transform: translatex(-3%)
    }

    header .icon .user,
    .icon .shopcart {
        display: inline-block;
    }

    header .icon .user {
        margin: 0 30px 0 15px;
    }

    .phone-icon {
        display: none;
    }

}

@media screen and (max-width:899px) {
    header {
        position: relative;
    }

    .phone-icon {
        display: none;
    }

    header .top {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }

    .hb {
        display: block;
        position: relative;
    }

    .hb label {
        width: 35px;
        height: 35px;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 4px;
        position: relative;
    }

    .hb span {
        width: 75%;
        height: 4px;
        background-color: #ebebec;
        border-radius: 20px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .hb span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .hb span:nth-child(2) {
        opacity: 1;
        transition: opacity 0.3s 0.6s;
    }

    .hb span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .phone-icon {
        /* border: #CF272A 1px solid; */
        display: flex;
        position: relative;
        margin-left: 30%;
    }

    .phone-icon img {
        vertical-align: bottom;
        width: 30px;
        height: 30px;
        /* border: #CF272A 1px solid; */
        margin: 10px;
    }

    .nav-area {
        /* 手機版隱藏選單 */
        display: none;
        position: absolute;
        width: 80%;
        margin: 0 0 0 20%;
        background-color: #545454;
        top: 100%;
        left: 0;
        border-radius: 0 0 0 8px;
    }

    .sub-menu a {
        font-size: 16px;
    }

    .nav-area.open,
    .nav_bg.open {
        display: block;
    }

    /* .nav-area.open+.nav-overlay {
        display: block;
    } */

    header nav a {
        color: white;
    }

    .nav-area a+ul,
    .nav-area li,
    .icon {
        padding: 10px;
    }

    .nav-area li {
        border-top: #ebebec 1px solid;
    }

    .nav-area ul>li {
        border-top: none;
    }

    .main-menu>li:nth-child(4) ul.sub-menu li:first-child,
    .main-menu>li:nth-child(3) ul.sub-menu li:last-child {
        padding-bottom: 0;
    }

    .icon {
        display: none;
    }
}

/* 以上是header */

footer {
    width: 100%;
    background-image: url(../pic/bg1.webp);
    background-size: 10%;
    display: flex;
    position: relative;
}

.footer_inner .txt {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.footer_inner .txt .sns {
    display: flex;
}


.footer_logo {
    position: absolute;
    box-sizing: border-box;
}

.footer_logo img {
    width: 100%;
}

@media screen and (min-width:768px) {

    footer {
        justify-content: center;
    }

    .footer_inner {
        width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_inner .txt {
        width: 30%;
        line-height: 2.5;
    }

    .footer_inner .txt .icon .line {
        margin: 0 10px;
    }

    .footer_inner .copyright {
        color: #545454;
        width: 30%;
        font-size: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 2.5;
        text-align: right;
    }

    .footer_logo {
        width: 250px;
        height: 200px;
        padding: 40px;
        display: flex;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width:767px) {

    .footer {
        justify-content: flex-start;
    }

    .footer_inner .txt {
        line-height: 2.5;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }

    .footer_inner .copyright {
        display: none;
    }

    .footer_logo {
        bottom: 5%;
        right: 5%;
        width: 70px;
    }

    footer .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer .line,
    footer .fb {
        display: flex;
        margin: 5px;
    }
}

/* 以上是footer */
.banner {
    width: 100%;
    background-image: url(../pic/bg2.webp);
    background-size: 20%;
    position: relative;
}

.banner_pic {
    width: 100%;
    flex-shrink: 0;
}

.banner_pic img {
    vertical-align: top;
    left: 0;
}

@media screen and (min-width:768px) {
    .banner_pic img {
        width: 80%;
    }

    .banner_txt {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 650px;
        height: 150px;
        bottom: 20%;
        right: 10%;
    }

    .banner_txt p {
        color: #545454;
        text-align: center;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: serif, "Noto Serif", cursive, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 100;
        line-height: 51px;
        font-size: 120px;
    }
}

@media screen and (max-width:767px) {
    .banner_pic img {
        width: 100%;
    }

    .banner_txt p {
        display: none;
    }
}

/* 以上是banner區 */

@media screen and (min-width:768px) {
    .custom-separator a {
        font-size: 16px;
    }

    .breadcrumb{
        left: 10%;    
    }
}

@media screen and (max-width:767px) {
    .custom-separator a {
        font-size: 14px;
    }

    .breadcrumb{
        left: 5%;    
    }
}

.breadcrumb {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    top: 40px;
    z-index: 1;
    flex-wrap: wrap;
}

.custom-separator li {
    padding: 0 10px;
}

.custom-separator img {
    width: 5px;
    vertical-align: top;
}

.custom-separator a {
    text-decoration: none;
    color: #545454;
    font-style: normal;
    font-weight: 900;
}

.custom-separator a:hover {
    color: #CF272A;
}

/* 以上是麵包屑區 */

@media screen and (min-width:768px) {
    .backtotop {
        bottom: 5%;
        right: 2%;
        z-index: 10;
    }
}

@media screen and (max-width:767px) {
    .backtotop {
        position: fixed;
        bottom: 12%;
        right: 5%;
        z-index: 1;
    }
}

.backtotop {
    position: fixed;
}

.backtotop img {
    width: 130%;
    transition: .3s;
}

.backtotop:hover img {
    width: 135%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.login {
    font-family:"Noto Serif";
    background: url(../pic/bg1.webp);
    background-size: 10%;
    width: 360px;
    height: 400px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}


.login h2 {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
    color: #4b4b4b;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 900;
    letter-spacing: 4px;
    text-indent: 4px;
}

.login h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    color: #4b4b4b;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 900;
    letter-spacing: 4px;
    text-indent: 4px;
    position: relative;
}

.login h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4b4b4b;
    position: absolute;
}

.login input {
    border-radius: 4px;
    display: flex;
    width: 300px;
    padding: 0 10px;
    margin-bottom: 30px;
    height: 60px;
    line-height: 60px;
    border: 0;
    background: #f5f5f5;
    font-size: 16px;
}

.login p {
    font-size: 14px;
    color: #4b4b4b;
}

.login .login_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    height: 50px;
    width: 300px;
    background: #CF272A;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 400px;
    cursor: pointer;
    transition: all .3s ease;
}

.login .login_btn:hover {
    background-color: red;
}

.login .login_btn:hover::before {
    width: 100%;
}

.login .close_btn {
    width: 100%;
}

.login .close_btn:hover>img {
    width: 8%;
}

.login .close_btn img {
    width: 7%;
    margin-top: 20px;
    border: none;
    position: absolute;
    top: 0px;
    right: 15px;
    transition: .3s;
}

.login .sns {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.login .sns_icon {
    padding: 0 15px;
}

.login .sns_icon img {
    width: 100%;
    vertical-align: top;
}


.login_bg {
    background-color: #000b;
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 8;
    display: none;
}

.nav_bg {
    background-color: #000b;
    width: 100%;
    height: 100%;
    position: fixed; /* 將 position 改為 fixed */
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

@media screen and (min-width:900px) {

    #phone-login,
    #phone-shoppingcart {
        display: none;
    }
}

@media screen and (max-width:899px) {
    .phone-icon {
        display: none;
    }
}